@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');

:root {
    --primary-color: #2C8C99;
    --secondary-color: #E2E8CE;
    --accent1-color: #326771;
    --accent2-color: #42D9C8;

    --heading-font: 'Raleway';
    --paragraph-font: 'Nunito Sans';
    --heading-color: #2C8C99;
    --paragraph-color: black;

    --nav-background-color: #326771;
    --nav-link-color: #E2E8CE;
    --nav-hover-link-color: #42D9C8;
    --nav-hover-background-color: #2C8C99;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    border-bottom: solid 1px var(--accent1-color);
    align-items: center;
}

nav {
    display: flex;
    text-align: right;
    list-style: none;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
}

body {
    width: 1000px;
}

.hero {
	margin: 10px auto;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

h1 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: var(--secondary-color);

}

article {
    background-color: var(--primary-color);
    opacity: .75;
    font-family: var(--paragraph-font);
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 450px;
    left: 10px;
    font-size: x-large;
}

article img {
    float: right;
    width: auto;
    height: 250px;
}

h2 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    position: relative;
}

p {
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
}

.history {
    text-align: center;
}

.pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--paragraph-font);
}

.picture-row {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-bottom: 20px;

}

.picture-row img {
    width: 100px;
    height: auto;
    margin: 0;
}

.picture-row-contact {
    display: flex;
    text-align: center;
}

.picture-row-contact img {
    width: 200px;
    height: auto;
}

a:link {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

footer p {
    flex-grow: 1;
}

footer img {
    width: 40px;
    height: auto;
}

form {
    border: 1px black solid;
    font-family: var(--paragraph-font);
    width: 650px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: lightcyan;
    display: grid;
    padding: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin: 15px;
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    color: white;
    border: none;
    border-radius: 15px;
}