@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');

:root{
    --primary-color: #2C8C99;
    --secondary-color: #E2E8CE;
    --accent1-color: #326771;
    --accent2-color: #42D9C8;

    --heading-font: 'Raleway';
    --paragraph-font: 'Nunito Sans';

    --nav-background-color: #326771;
    --nav-link-color: #E2E8CE;
    --nav-hover-link-color: #42D9C8;
    --nav-hover-background-color: #2C8C99;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}