* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    margin: 2px;
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 650px;
    left: 100px;
}

footer {
    margin-top: 1em;
    border-top: 2px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: aliceblue;
    color: black;
}